{
  "root": true,
  "extends": "./node_modules/frontend-build/.eslintrc",
  "rules": {
    "import/no-extraneous-dependencies": ["error",
      {
        "devDependencies": ["**/*.spec.js"]
      }
    ]
  }
}
